:root {
    --theme-black-background-color: black;
    --theme-black-text-color: black;
    --theme-white-background-color: white;
    --theme-white-text-color: white;
    --theme-dark-background-color: #2d3e57;
}